@import './src/scss/_reset';
@import './src/scss/_colors';
@import './src/scss/_variables';

.search-bar {
	background-color: $primary-color;
	padding: $spacing-s 0;
	margin-bottom: $spacing-m;

	.brand-logo {
			float: left;
			margin-right: $spacing-m;
	}

	.search{
		input:focus, input.form-control:focus {
			outline:none !important;
			outline-width: 0 !important;
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
		}

		input {
			width: 87%;
			margin-left: 10px;
			border-radius: 5px 0 0 5px;
			padding: 10px;
			border: 0 none;
			float: left;
		}

		button{
			background: url("../clientAssets/ic_Search.png") no-repeat $bg-btn-search 50% 50%;
			width: 40px;
			height: 40px;
			float: left;
			border-radius: 0 5px 5px 0;
			border: 0 none;
		}
	}
}