/* File with the definition of variables for the use of colors */
$white: #FFFFFF;

$primary-color: #FFE600;
$secondary-color: #3483FA;

$bg-color: #EEEEEE;
$bg-btn-search: #CCCCCC;

$text-dark-color: #333333;
$text-medium-color: #666666;
$text-light-color: #999999;

$line-color: #EEEEEE;